<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="CommentMapper">
<insert id="add" parameterType="cvo">
insert into comment(bNo, writer, content)
values (#{bNo}, #{writer}, #{content})
</insert>
<select id="list" parameterType="int" resultType="cvo">
select * from comment where bNo = #{bNo}
</select>
<delete id="delete" parameterType="int">
delete from comment where cNo= #{cNo}
</delete>
<update id="update" parameterType="cvo">
update comment set content=#{content} where cNo=#{cNo}
</update>
<delete id="removeAll" parameterType="int">
delete from comment where bNo = #{bNo}
</delete>
</mapper>